In [64]:
import pandas as pd
import numpy as np
import os
import h5py
import pickle
from os import getcwd
from os.path import join as pjoin

In [25]:
INPUT_DIR = pjoin(getcwd(), '../', 'input')

In [53]:
inputFiles = os.listdir(INPUT_DIR)
inputFiles

['item_categories.csv',
 'test.csv',
 'shops.csv',
 'sample_submission.csv',
 'items.csv',
 'sales_train.csv',
 'itemCategoriesDtypes.pickle']

In [52]:
os.remove(pjoin(INPUT_DIR, 'item_categories.h5'))

In [38]:
itemCategories = pd.read_csv(pjoin(INPUT_DIR, 'item_categories.csv'), 
                             dtype=)

In [48]:
itemCategoriesDtypes = {'item_category_name': 'object', 'item_category_id': 'int8'}
with open(pjoin(INPUT_DIR, 'itemCategoriesDtypes.pickle'), 'wb') as h:
    pickle.dump(itemCategoriesDtypes, h)

In [58]:
test = pd.read_csv(pjoin(INPUT_DIR, 'test.csv'))

In [59]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214200 entries, 0 to 214199
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ID       214200 non-null  int64
 1   shop_id  214200 non-null  int64
 2   item_id  214200 non-null  int64
dtypes: int64(3)
memory usage: 4.9 MB

In [101]:
train = pd.read_csv(pjoin(INPUT_DIR, 'sales_train.csv'), dtype=trainDtypes, parse_dates=['date'])

In [102]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            datetime64[ns]
 1   date_block_num  int8
 2   shop_id         int8
 3   item_id         int16
 4   item_price      float32
 5   item_cnt_day    float16
dtypes: datetime64[ns](1), float16(1), float32(1), int16(1), int8(2)
memory usage: 50.4 MB

In [62]:
train.describe()

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03

In [100]:
trainDtypes = {'date_block_num': 'int8', 'shop_id': 'int8', 'item_id': 'int16', 'item_price': 'float32', 'item_cnt_day': 'float16'}

In [87]:
# TODO move to library. Make also function 'find_best' for int and float types
def in_dtype_range(family, dtyp, series):
    f = np.iinfo if family == 'i' else np.finfo
    minim = f(dtyp).min
    maxim = f(dtyp).max
    
    return (minim <= series.max() <= maxim) and (minim <= series.min() <= maxim)

In [93]:
col = train.item_id
in_dtype_range('i', np.int16, col)

True

In [104]:
with open(pjoin(INPUT_DIR, 'trainDtypes.pickle'), 'wb') as h:
    pickle.dump(trainDtypes, h)